

<div class="container-fluid">
 
  <form action="">
    <div class="card">
  <div class="card-header">
    Select Class
  </div>
  <div class="card-body">
    <div class="form-group">
 <label for="preference">Select Class:</label>
  <select class="form-control"id="pref">
    <option>Sleeper</option>
    <option>3A</option>
    <option>2A</option>
    <option>1A</option>
    </select>
</div>
    </div>
</div>
 
<div class="card">
  <div class="card-header">
    Passenger Details
  </div>
  <div class="card-body">
   <div class="form-group">
      <label for="Name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name.." name="name">
    </div>
<div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" placeholder="Enter age.." name="age">
    </div>
    <div class="form-group"><label for="gender">Gender:</label>
    <div class="form-check-inline">
      <label class="form-check-label" for="male">
        <input type="radio" class="form-check-input" id="male" name="gender" value="male" checked>Male
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="female">
        <input type="radio" class="form-check-input" id="female" name="gender" value="female">Female
      </label>
    </div>
  </div>
  <div class="form-group">
 <label for="preference">Select your preference:</label>
  <select class="form-control"id="pref">
    <option>Lower</option>
    <option>Middle</option>
    <option>Upper</option>
    <option>Side Lower</option>
    <option>Side Upper</option>
  </select>
</div>


    <a href="#" class="btn btn-primary">Add Passenger</a>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
         <input type="checkbox" aria-label="Checkbox for following text input">Add Child (0-4 years)
 
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox">
</div>

<div class="card">
  <div class="card-header">
    Contact Details
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email.." name="email">
    </div>
    <div class="form-group">
      <label for="mob">Mobile:</label>
      <input type="number" class="form-control" id="mob" placeholder="Enter mobile number.." name="mob">
    </div>

      </div>
</div>
<div class="card">
  <div class="card-header">
    Choose Boarding Point
  </div>
  <div class="card-body">
     <div class="form-group">
  <select class="form-control" id="boarding">
    <option>MAS - Chennai Central</option>
    <option>GDR - Gudur</option>
    <option>NLR - Nellore</option>
    <option>ONG - Ongole</option>
    <option>BZA - Vijayawada</option>
    <option>EE  - Eluru</option>
  </select>
</div>
      </div>
</div>

 
    <button type="submit" class="btn btn-primary">Save and Continue Booking</button>
  </form>
</div>

	
	
	
